
qrcodeMac工程/qrcode/qrcode.xcodeproj/project.xcworkspace/xcuserdata/line0_dev.xcuserdatad/UserInterfaceState.xcuserstate

qrcodeMac工程/qrcode/qrcode.xcodeproj/xcuserdata/line0_dev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
